@import url("https://fonts.googleapis.com/css?family=Black+Ops+One");

form {
	text-align: center;
}

a {
	text-decoration: none;
	color: #3498db;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../images/background/desktop.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom 60%;
	font-family: "Lato", sans-serif;
}

.wrapper {
	width: 100%;
	height: 100%;
	min-width: 950px;
}

.login_box {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	width: 30%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	border: 1px solid #ededed;
	border-radius: 10px;
	padding: 5px;
	opacity: 0.93;
}

.login_header {
	text-align: center;
	width: 100%;
	height: 90px;
	background-color: #40c4ff;
	color: #fff;
	padding: 0.7rem;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	box-sizing: border-box;
}

.login_header h1 {
	margin-top: 0;
	margin-bottom: 0.2rem;
	color: #eceff1;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	font-family: "Qanelas", sans-serif;
}

button[type="submit"] {
	background-color: #3498db;
	padding: 5px 10px 5px 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 5px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
	border-color: #3498db;
}

#second {
	display: none;
}

#button {
	margin: 0 auto;
	background-color: #43c1f7;
	border: none;
	border-radius: 5px;
	padding: 5px;
	color: white;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}

#button:hover {
	cursor: pointer;
}

.landing {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background: white;
	animation-duration: 2s;
	display: none;
}

.landing>h1 {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.5rem 3rem 0 0;
	font-size: 2.7rem;
	color: #3fe9f3;
	text-shadow: 2px 2px 2px rgba(119, 120, 121, 0.5);
	font-family: 'Black Ops One', cursive;
}

.landing__bg {
	background: url("../images/background/landing.svg") left 50% bottom 50% / cover no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
}

.landing .content {
	width: 50%;
	position: absolute;
	top: 10%;
	left: 0;
	color: white;
	padding: 5rem;
	text-align: center;
}

.content h1 {
	font-size: 2.5rem;
}

.content p {
	font-size: 1.3rem;
}

#landing-btn {
	display: block;
	padding: 0.5rem;
	margin: auto;
	font-size: 1.2rem;
	width: 10rem;
	box-sizing: border-box;
	border: 2px solid rgba(255, 255, 255, 0.678);
	color: rgba(255, 255, 255, 0.678);
	border-radius: 0.6rem;
	cursor: pointer;
	text-align: center;
	transition: all 0.4s ease-in-out;
}

#landing-btn:hover,
#landing-btn:active {
	width: 12rem;
	font-size: 1.5rem;
	border: 3.6px solid white;
	color: white;
}